<header>
    <a href="https://www.nuron.co.in">
    <img class="logo-top" src="/logo/nuron 2018-03.png" alt="nuron logo" ></a>
    <div class="navbar">
        <a href="/admin/add-roll" class="active">ADD ROLLS</a>
        <a href="/admin/add-user">ADD EMPLOYEE</a>
        <a href="">DATE</a>
    </div>
</header>
