<div class="outer_pop">
    <div class="align_pop">
    <div class="msg">
        Do you realy want to delete this?
    </div>
    <div class="buttons">
    <button>Delete</button>
    <button>Cancle</button>
</div>
</div>
</div>