<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuron</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

        

</head>
<body>
    <div class="wrapper">
<header>
    <a href="https://www.nuron.co.in">
    <img class="logo-top" src="/logo/nuron 2018-03.png" alt="nuron logo" ></a>
    <div class="logo-discrption">Welcome to nuron Sales person onboarding dashboard</div>
</header>
