
<div class="addroll">
    <label  for="rollname" >Roll name</label>
    <input type="text" id="rollname" placeholder="Roll name" name="rollname" required></input>
    <label  for="rollid">Roll ID</label>
    <input type="text" id="rollid" placeholder="Roll primary key" name="rollid" required></input>
    
    <button type="submit" id="addrollbtn" name="Addroll">ADD ROLL</button>
   
</div>
