
    <div class="userdetails">
        <label  for="employname">Employee Name</label>
        <input type="text" id="loginId" placeholder="Name" name="employname" required></input>
        <label  for="employmailid">Employee Mail ID</label>
        <input type="text" id="loginId" placeholder="Email" name="employmailid" required></input>
        <label  for="employphonenum1">Primary Mobile Number</label>
        <input type="text" id="loginId" placeholder="phone number" name="employphonenum1" required></input>
        <label  for="employphonenum2">Secondary Mobile Number</label>
        <input type="text" id="loginId" placeholder=" Secondary number" name="employphonenum2" required></input>
        <label  for="employroll">Employee Roll<br></label>
        <select name="employroll" id="employroll">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        <label  for="employmanager">Reporting Manager</label>
        <input type="text" id="loginId" placeholder="Manager details" name="employmanager" required></input>  
        <label  for="loginpassword">Password</label>
        <input type="password" id="loginPassword" placeholder="Password" name="loginpassword" required></input>
        <button type="submit" id="loginbtn" name="Login">Add User</button>
    
    </div>
 