
    <div class="admin-logindetails">
        <label  for="admin-username" class="admin-username-h">Username</label>
        <input type="text" id="admin-loginId" placeholder="Admin User ID" name="admin-username" required></input>
        <label  for="admin-loginpassword" class="admin-password-h">Password</label>
        <input type="password" id="admin-loginPassword" placeholder="Password" name="loginpassword" required></input>
        <button type="submit" id="admin-loginbtn" name="Login">Login</button>
    </div> 