<%- include('partials/header') -%>


    <form action="/reset-password/<%=id%>" method="post">
        <div class="formcontent">
        <label for="password1">Password</label>
        <div class="passstrenth">
            <div class="bar1 bar "></div>
            <div class="bar2 bar "></div>
            <div class="bar3 bar "></div>
        </div>
        <input type="password" id="password1" name="password1" placeholder="Enter the password" required ></input>
        <label for="password2">Reenter the password</label>
        <input type="password" id="password2"name="password2" placeholder="Enter the password" required></input>
        <button type="submit" id="forgotpassbtn">Submit</button>
    </div>
    </form>

<script type="text/javascript">



function checkandremove(classname,element){
    document.querySelector(element).classList.contains(classname)?document.querySelector(element).classList.remove(classname):null;
}
    function barchange(keydata){
        // var data ;
        // for(var j =97;j<123;j++){ 
        //     data+=`${j},`;
        // }
        // console.log(data);
        console.log("key dayaa",keydata);
        var pass1= document.getElementById("password1");
        var pass1length =pass1.value.length;
        // var lastcharascii = pass1.value.charCodeAt(pass1length-1);
        // console.log("length of the input",pass1length);
        // console.log("you have enter :: ",pass1.value);
        // console.log("the last char enter is",pass1.value[pass1length-1],"thisi si ascii value of it",lastcharascii);
        // var specialcharlist =[46,45,38,36,33,60,61,62,63,64,95];
        // var numberslist =[48, 49,50, 51, 52, 53, 54, 55, 56, 57];
        // var alphabets = [65, 66, 67,68, 69,70, 71, 72, 73, 74, 75, 76, 77, 78, 79,80, 81, 82, 83, 84, 85, 86, 87, 88, 89,90,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122];
        var class_list =[".bar1",".bar2",".bar3"];
        // var keydataa={
        //     alphabet:0,
        //     number:0,
        //     special:0  }
        // if(alphabets.includes(pass1.value.charCodeAt(pass1length-1))){
        //     console.log("you habve presed an alphabets")
        //     strenth+=((pass1length+1)*0.3);
        // }else if(numberslist.includes(pass1.value.charCodeAt(pass1length-1))){
        //     console.log("you habve presed an numberrrr")
        //     strenth+=((pass1length+1)*0.8);
        // }else if(specialcharlist.includes(pass1.value.charCodeAt(pass1length-1))){
            
        //     strenth+=((pass1length+1)*2.2);
        //     console.log("you habve presed an special chare")
        // }//else{
        //     console.log("you habve presed an notallowed")

        // }
        // console.log("strenth: ",strenth)

         if(pass1length>1 && pass1length <3){
         
         document.querySelector(".bar1").classList.add("red");
         checkandremove("yellow",".bar1");
            checkandremove("green",".bar1");
        }
        else if(pass1length >3 &&pass1length <5){
            document.querySelector(".bar1").classList.add("yellow");
            checkandremove("red",".bar1");
            checkandremove("green",".bar1");
          

        }else if(pass1length > 5 &&pass1length <8){
            
            document.querySelector(".bar1").classList.add("green");
            checkandremove("yellow",".bar1");
            checkandremove("red",".bar1");
            checkandremove("red",".bar2");

        }else if(pass1length>8 &&pass1length <10){
            
            document.querySelector(".bar2").classList.add("red");
            checkandremove("yellow",".bar2");
            checkandremove("green",".bar2");
        }
        else if(pass1length>10 &&pass1length <13){
           
            document.querySelector(".bar2").classList.add("yellow");
            checkandremove("green",".bar2");
            checkandremove("red",".bar2");
        }
        else if(pass1length>13 &&pass1length <15){
           
            document.querySelector(".bar2").classList.add("green");
            checkandremove("yellow",".bar2");
            checkandremove("red",".bar2");
            checkandremove("red",".bar3");
        }else if(pass1length>15 &&pass1length <18){
            
            document.querySelector(".bar3").classList.add("red");
            checkandremove("yellow",".bar3");
            checkandremove("green",".bar3");
        }
        else if(pass1length>18 &&pass1length <20){
           
            document.querySelector(".bar3").classList.add("yellow");
            checkandremove("green",".bar3");
            checkandremove("red",".bar3");
        }
        else if(pass1length>20 &&pass1length <23){
           
            document.querySelector(".bar3").classList.add("green");
            checkandremove("yellow",".bar3");
            checkandremove("red",".bar3");
        }
    }
    document.getElementById("password1").addEventListener('change', () =>{
        var class_list =[".bar1",".bar2",".bar3"];
        var pass1= document.getElementById("password1");
        if(pass1.value.length <= 1){
            for(var i=0; i<3;i++){ 
                checkandremove("red",class_list[i]);
                checkandremove("green",class_list[i]);
                checkandremove("yellow",class_list[i]);
            }
        }
    })
    document.getElementById("password1").addEventListener('keydown', (event) =>{
        // console.log(" the submit button has been presed:: ",event);
        barchange(event.keyCode);
    })
 document.getElementById("forgotpassbtn").addEventListener("click",()=>{
    var pass1 = document.getElementById("password1").value;
    var pass2 = document.getElementById("password2").value;
    if(pass1 !== pass2){
        document.getElementById("forgotpassbtn").disabled = true;
   }
 })
</script>

<%- include('partials/footer') -%>