<%- include('partials/header') -%>
<div class="alert hide_on_start">
    <span ><i class="bi bi-exclamation-diamond-fill exclamation"></i></span>
    <span class="msg">dsdasds</span>
    <div class="close-btn">
       <span ><i class="bi bi-x-circle-fill"></i></span>
    </div>
 </div>
<div class="userbg1 ">
        <div class="formcontent">
        <label for="username"><i class="bi bi-person-workspace"></i>  Username</label>
        <input type="email" id="username" name="username" placeholder="Email" required ></input>
        <button  id="getotp">Get OTP</button>
    </div>
</div>
    <div class="userbg2 userbghide">
        
        <div class="formcontent">
            <div class="dispmsg1">NOTE: do not refresh the page</div>
            <div class="dispmsg">Enter the One-Time Password that has been sent to your Email ID</div>
        <label for="username"></label>
    
        <input type="text" id="enteredotp" name="otp" placeholder=' One Time Password' required ></input>
       
        <button  id="checkotp">Check</button>
    </div>
    
    <div class="resendbottom"><a id="resend-otp-enable">Resend OTP?</a><spam class="resend-otp"> again in <samp class="countforresendotp">120</samp> seconds</spam>
</div>
</div>
    <div class="userbg3 userbghide">
        
    <form action="/reset-password" method="post" >
      <div class="formcontent">
      <label for="password1">Password</label>
      <input type="password" id="password1" name="password" placeholder="Enter the password" required ></input>
      <label for="password2">Reenter the password</label>
      <input type="password" id="password2"name="password2" placeholder="Enter the password" required></input>
      <button type="submit" name="userid"  id="forgotpassbtn">Submit</button>
  </div>
  </form>
</div>
   

<script>
  function checkandremove(classname,element){
    document.querySelector(element).classList.contains(classname)?document.querySelector(element).classList.remove(classname):null;
}
  function checkclass(classname,element){
    return document.querySelector(element).classList.contains(classname)?true:false;
}
    
    function chekotp(user, otp){
      fetch(`http://localhost:5000/checkotp`,{method: 'POST',headers: {
      'Content-Type': 'application/json'},body: JSON.stringify({userid:user,otp:otp})})
            .then(res=>res.json())
            .then(data=>{
              console.log(data);
            
            if(data.error_code != 200){
        allert(data.data);
      }else{
        showreserpasswordpage(); 
        console.log("you have prese to the password reser button")
      }
    })
            

            
    }
    document.querySelector('#forgotpassbtn').addEventListener('click', ()=>{
      document.querySelector('#forgotpassbtn').value = document.querySelector("#username").value
    })
    document.querySelector('#checkotp').addEventListener('click', ()=>{
      var usname = document.querySelector('#username').value;
      var enteredotp = document.querySelector('#enteredotp').value;
      console.log(usname, enteredotp)
      chekotp(usname,enteredotp);
    
     
    })
    document.querySelector('#resend-otp-enable').addEventListener('click', ()=>{
        document.querySelector('.resend-otp').style.display="inline";
        document.querySelector('.countforresendotp').innerHTML=120;
        document.querySelector('#resend-otp-enable').style.pointerEvents="none";
        var userid =  document.querySelector("#username").value;
        sendotp(userid);
        starttimeforotp();
    })
    function sendotp(user){
      fetch(`http://localhost:5000/generateotp`,{method: 'POST',headers: {
      'Content-Type': 'application/json'},body: JSON.stringify({email:user})})
            .then(res=>res.json())
            .then(data1=>{
              console.log(data1);
            })
    }
    function starttimeforotp(){
        setTimeout(function(){
          var time = parseInt(document.querySelector('.countforresendotp').innerHTML)       
        document.querySelector('.countforresendotp').innerHTML=time-1;
        if(time>1){
            starttimeforotp();
        }else{
            document.querySelector('.resend-otp').style.display="none";
            document.querySelector('#resend-otp-enable').style.pointerEvents="auto";
        }        
       },1000);
        
    };
    function showotppage(){
        document.querySelector('.userbg1').classList.add("userbghide");
        document.querySelector('.userbg3').classList.add("userbghide");
        checkandremove("userbghide",'.userbg2');


    }

    // document.querySelector('#passwordreser').addEventListener('click',()=>{
    //     showreserpasswordpage(); 
    //     console.log("you have prese to the password reser button") 
    //   });

    function showreserpasswordpage(){
      checkandremove("userbghide",'.userbg3');
      console.log("checking the existing calss userhidden in the userbg of all 3");
      console.log(checkclass("userbghide",'.userbg1'))
      console.log(checkclass("userbghide",'.userbg2'))
      console.log(checkclass("userbghide",'.userbg3'))


      document.querySelector('.userbg1').classList.add("userbghide");
        document.querySelector('.userbg2').classList.add("userbghide");
        // document.querySelector('.userbg3').classList.remove("userbghide");

    }
  function closing() {
    setTimeout(function(){
        document.querySelector('.alert').classList.remove("show");
        document.querySelector('.alert').classList.toggle("hide");
       },5000);
  };

  
function allert(message){
  document.querySelector('.msg').innerHTML=message?message:"error";
             document.querySelector('.alert').classList.add("show");
             document.querySelector('.alert').classList.remove("hide_on_start");
             document.querySelector('.alert').classList.remove("hide");
             document.querySelector('.alert').classList.add("showAlert");
             setTimeout(function(){
               document.querySelector('.alert').classList.remove("show");
               document.querySelector('.alert').classList.add("hide");
             },5000);
 }
 
  
  document.querySelector("#getotp").addEventListener("click",function() {
var userid =  document.querySelector("#username").value;

    fetch(`http://localhost:5000/check/email/${userid}`,{method: 'POST'})
      .then(res=>res.json())
      .then(data=>{
        console.log(data);
          if(data.error_code==400){
            allert("OTP has been sent successfully");
            showotppage();
            starttimeforotp();
            sendotp(userid);
          }else if( data.error_code==402){
            allert("You are not an Active User");
          }
          else if(data.error_code==200){
            allert("No User ID found");
        }
          });
  })
  document.querySelector(".close-btn").addEventListener("click",function() {
    console.log("close button is presed",)
     document.querySelector('.alert').classList.remove("show");
      document.querySelector('.alert').classList.add("hide");
     });
  
  </script>


<%- include('partials/footer') -%>