
  <%- include('partials/header') -%>
  <div class="wrapper">
<div class="logindetails">
    <label  for="username" >Username</label>
    <input type="text" id="loginId" placeholder="User ID" name="username" required></input>
    <label  for="loginpassword">Password</label>
    <input type="password" id="loginPassword" placeholder="Password" name="loginpassword" required></input>
    <button type="submit" id="loginbtn" name="Login">Login</button>
    <div class="rememberme">
   <input type="checkbox" checked="checked" name="remember">
   <label class="remember" for="remember">Remember me</label> 
</div>
</div>

</div>
<%- include('partials/footer') -%>
