<p>This is the home page and it takes the full width of the layout</p>

   
<div class="logindetails">
    <label for="username" ><b>Username</b></label>
    <input type="text" id="loginId" placeholder="User ID" name="username" required></input>
    <label for="loginpassword"><b>Password</b></label>
    <input type="password" id="loginPassword" placeholder="Password" name="loginpassword" required></input>
    <button type="submit" id="loginbtn" name="Login">Login</button>
   <!--<input type="checkbox" checked="checked" name="remember">Remember me-->
</div>
<a href="/about">About</a>