<%- include('partials/admin_header.ejs') -%>

<label class="sqlcolum" for="employroll">Employee Roll</label>
        <select name="employroll" id="employmysql">
        <%console.log(`${content.first_name} thi sis content sdsjkdhsjk`); content.forEach((data)=> {%>
            <option class="opt"><%= data.first_name%></option> 
           <% });%>
        </select>
        <label  for="rename">Enter the rename</label>
        <input type="text" id="rollid" placeholder="Enter the new name" name="rename" ></input>
<button type="submit" id="renamebtn" name="Addroll">ADD NameL</button>

        <%- include('partials/footer') -%>
