
<div class="wap">
<label class="sqlcolum" for="employroll">Employee Roll</label>
        <select name="employroll" id="employmysql">
        <%console.log(`${content.first_name} thi sis content sdsjkdhsjk`); content.forEach((data)=> {%>
            <option class="opt"><%= data.first_name%></option> 
           <% });%>

        </div>