body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 220, 248);
  font-size: 26px;
  margin: 0px;
  min-height: 100vh;
}
:root {
  --max-screen-hight-size: 150vh;
}

.wrapper {
  padding: 0px;
  overflow: hidden;
  height: 100%;
  /* background-color: pink; */
  min-height: 100vh;
}
main {
  padding: 20px;
  min-height: 80vh;
}
/* headder customization in the admin add user page*/
header,
footer {
  background-color: ghostwhite;
  border-bottom: 1px;
  padding: 10px;
  min-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-top {
  max-height: 30px;
  max-width: 180px;
}

header .navbar {
  min-width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.navicon {
  align-items: center;
  font-size: 15px;
  color: rgb(212, 48, 199);
  display: none;
}

@media only screen and (max-width: 600px) {
  .navcon {
    display: none;
  }
  .navicon {
    display: flex;
  }
  header .navbar {
    min-width: 20%;
  }
  .table-content td,
  .table-content th {
    border: 1px solid white;
    font-size: 15px;
    text-align: center;
    padding: 2px;
  }
  tablebtn {
    padding: 1px 4px;
  }
  header,
  footer {
    background-color: ghostwhite;
    border-bottom: 1px;
    padding: 5px;
    max-width: 100%;
  }
}
.navcon {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: rgb(212, 48, 199);
}

.navcon:hover {
  color: rgb(193, 55, 228);
}

footer {
  position: fixed;
  min-width: 100%;
  bottom: 0;
  font-size: 12px;
  text-align: center;
}

/* this is place where i customizated main page for the add user details*/

button {
  background-color: #ea39ab;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  border-radius: 10px;
}
.userdetails .loginbtn:hover {
  opacity: 0.8;
  background-image: #9a3d9a;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.userdetails {
  max-width: 12em;
  min-height: 80%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}
.userdetails .loginbtn {
  margin: 8px auto;
  max-width: 10em;
  margin-bottom: 10px;
  margin-left: 80px;
}

.userdetails label {
  margin-left: 22px;
  font-size: 15px;
  font-weight: bold;
  /* text-transform: uppercase; */
}
select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

/* this is place where i customizated main page for the add roll details*/

.addroll {
  max-width: 8em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.addroll input[type="text"],
.addroll input[type="password"] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.addroll label {
  margin-left: 22px;
  font-size: 15px;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.addroll #addrollbtn {
  margin: 8px auto;
  max-width: 10em;
}

/* /* sample my sql look editing  */
.sqlcolum option {
  width: 50px;
  padding: 8px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  color: black;
  background-color: red;
}

.table-content table {
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 80%;
  margin-bottom: 50px;
}
.table-content td,
.table-content th {
  border: 2px solid white;
  font-size: 15px;
  text-align: center;
  padding: 8px;
}

.table-content tr:nth-child(even) {
  background-color: rgb(233, 222, 222);
}
.table-content tr:nth-child(odd) {
  background-color: rgb(214, 213, 213);
}
.table-content th {
  background-color: #8099d1;
}

.tablebtn {
  background-color: rgba(230, 230, 230, 0);
  color: black;
  padding: 3px 10px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
  border-radius: 15px;
}

.tblbtnview {
  max-width: 20px;
  padding: 2px;
}
.tablebtn:hover {
  opacity: 0.8;
  background-color: black;
  color: white;
}
.table-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  min-height: 80%;
  margin: 1em auto;
}
.viewusertable {
  margin-top: 0px;
  min-width: 100%;
}

.btn {
  background-color: #ea39ab;
  color: white;
  padding: 10px 20px;
  margin: 0 0;
  border: none;
  cursor: pointer;
  width: 80%;
  border-radius: 10px;
}

.overlayout {
  width: 100%;
  min-height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  /* position: absolute; */
  top: 0;
  z-index: 4;
  justify-content: center;
  display: none;
  position: fixed;
  /* overflow-y: scroll; */
}
@media only screen and (max-height: 745px) {
  .overlayout {
    position: absolute;
    min-height: 120vh;
  }
}

.frombg {
  background-color: rgba(252, 216, 222, 0.9);
  width: 50%;
  border-radius: 25px;
  padding-top: 20px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  min-height: auto;
}
.closeadduser {
  color: black;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
}
#adduserbtnpopup {
  max-width: 10%;
}

.viewuserbyidbg {
  min-width: 100%;
  min-height: 110vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}

/* this customization for the page of viewing individual user */
.displaydata {
  width: 100vw;
  height: 80vh;
}
.displayhero {
  display: flex;
  margin: 5px auto;
}

.colourcode {
  font-size: 12px;
  display: flex;
  display: none;
  flex-direction: row;
}

/* this customization for the page of editing individual user */
.frominner {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.editpagebtn {
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.editcontentinner table {
  border: 0px;
  background-color: #c1abd2;
  border-radius: 25px;
  padding-bottom: 40px;
}
.editcontentinner {
  position: relative;
}
.editcontentinner button {
  max-width: 150px;
  border-radius: 15px;
  position: absolute;
  bottom: 30px;
}
.editcontentinner button:hover {
  background-color: #9ac6eb;
  color: black;
  font-weight: bold;
}
.editviewtd {
  border: 2px;
  font-size: 15px;
  padding: 2px;
  padding-left: 10px;
  text-align: left;

  border-radius: 35px;
}

#emp_manager_name * {
  padding: 30px;
  min-height: 50px;
  margin: 20px;
}
.selected {
  background-color: rgb(143, 233, 143);
}
#editbtn {
  max-width: 150px;
  border-radius: 25px;
  margin: 0 auto;
  margin-left: 40vw;
}

#emp_status {
  max-width: 200px;
}
.find-from-bg {
  min-width: 80%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
}
.find-from {
  display: flex;
  align-items: right;
  gap: 0.1em;
}
.adduserbtn {
  min-width: 110px;
  border-radius: 20px;
  max-height: 40px;
}
.adduserfrombtn {
  margin: 8px auto;
  max-width: 10em;
  margin: 0 auto;
  margin-bottom: 10px;
}

.findbtn {
  max-height: 40px;
  max-width: 100px;
  border-radius: 40px;
}

#addrolebtnpopup {
  max-width: 100px;
}

#find {
  max-width: 150px;
}

.editcontent form {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* this is for the adding the role in the over lay mode in the view role page   */

.roleoverlayout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}

.rolefrombg {
  background-color: rgb(252, 216, 222);
  max-height: 250px;
  max-width: 60%;
  min-width: 50%;
  border-radius: 25px;
  padding-top: 20px;
  position: relative;
}

.closeaddrole {
  color: black;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
}

.editrolecontentinner {
  min-height: 20%;
  min-width: 40%;
  margin: 0 auto;
}

.editrolecontentinner form {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editrolecontentinner td {
  color: black;
  font-size: 15px;
  width: 100px;
  max-height: 30px;
}

.editrolecontentinner .editrolecontentinnercolor {
  background-color: #c1abd2;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  position: relative;
}

.editrolecontentinnercolor button {
  position: absolute;
  max-width: 150px;
  bottom: -25px;
  border-radius: 15px;
  left: 50px;
}

.editrolecontentinnercolor button:hover {
  background-color: #9ac6eb;
  color: black;
  font-weight: bold;
}

/* ghffffffffffff */

.displayhero table {
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 80%;
}
.displayhero td,
.displayhero th {
  border: 2px solid white;
  font-size: 15px;
  text-align: center;
  padding: 8px;
}

.displayhero tr:nth-child(even) {
  background-color: rgb(233, 222, 222);
}
.displayhero tr:nth-child(odd) {
  background-color: rgb(214, 213, 213);
}
.displayhero th {
  background-color: #8099d1;
}

.readonly {
  background-color: rgb(218, 216, 216);
  border-style: none;
}
.readonly:hover {
  background-color: rgb(197, 143, 143);
}

/* .passwordvisible {
  display: flex;
  flex-direction: row;
} */
.passwordvisible {
  position: relative;
  padding: 0;
  margin: 0;
  min-width: 75%;
  max-width: 80%;
}

.pass {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 15px;
}
.passhidden {
  display: none;
}
.passiconclick {
  min-width: 20px;
  min-height: 20px;
}

.autopass {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 30px;
}
.autbtn {
  max-width: 30px;
  background-color: #ea39ab;
  color: white;
  max-height: 30px;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 2px;
  font-size: 12px;
  margin-right: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.autbtn:hover {
  background-color: #9ac6eb;
  color: black;
}

/*alert error message customization  */

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.alert {
  background: #98add8;
  padding: 3px 10px;
  min-width: 380px;
  position: absolute;
  right: 10px;
  top: 85px;
  border-radius: 4px;
  border-left: 6px solid #ea38aa;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert {
  opacity: 1;
  pointer-events: auto;
  z-index: 5;
}
.alert.show {
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.alert.hide {
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(110%);
  }
}
.alert .exclamation {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #75429d;
  font-size: 25px;
}
.alert .msg {
  padding: 0 25px;
  font-size: 15px;
  color: #75429d;
  line-height: 40px;
}
.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #e50794;
  padding: 15px 13px;
  cursor: pointer;
}
.alert .close-btn:hover {
  background: #e50794;
}
.alert .close-btn .fas {
  color: #75429d;
  font-size: 20px;
  line-height: 40px;
}
.hide_on_start {
  display: none;
}

/* //customization for the delete confirm button  */
.outer_pop {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* position: absolute; */
  margin: 0 auto;
  top: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  /* display: none; */
  position: fixed;
}
.outer_pop .buttons {
  display: flex;
  gap: 0.5em;
  margin: 0;
  /* min-width: 8em; */
  min-height: 1.4em;
}
.popbtn {
  background-color: #ff95d8;
  border-style: none;
  padding: 5px 10px;
  border-radius: 10px;
}
.popbtn:hover {
  background-color: #ff29b0;
  font-weight: bold;
}
.outer_pop .align_pop {
  min-height: 20vh;
  max-width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 30vh;
  border-radius: 5vh;
}

.align_pop .msg {
  font-size: 15px;
}

/* //new design for cards, viewing the user this a try */
.gridgrp {
  margin: 0 6vw;
  display: grid;
  grid-gap: 20px;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 200px)); */
  grid-template-columns: repeat(6, 200px);
  /* 200px 200px 200px 200px 200px 200px; */
  margin-bottom: 35px;
}
@media only screen and (max-width: 1300px) {
  .gridgrp {
    grid-template-columns: repeat(5, 200px);
  }
}
@media only screen and (max-width: 1050px) {
  .gridgrp {
    grid-template-columns: repeat(4, 200px);
  }
}
@media only screen and (max-width: 900px) {
  .gridgrp {
    grid-template-columns: repeat(3, 200px);
  }
}
@media only screen and (max-width: 600px) {
  .gridgrp {
    grid-template-columns: repeat(2, 200px);
  }
}
.card {
  background-color: #956db2;
  align-items: center;
  text-align: center;
  display: inline-block;
  height: 250px;
  width: 200px;
  overflow: hidden;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(78, 78, 78, 0.8));
  margin: 20px;
}
.card:hover {
  filter: drop-shadow(0 10px 0.75rem rgba(46, 46, 46, 0.8));
}

.profileimage {
  background-image: linear-gradient(#c0aad2, #f9cce9);
  min-height: 100px;
  max-width: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 38px;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 10px;
  filter: drop-shadow(0 10px 0.6rem rgba(0, 0, 0, 0.8));
}

.empid {
  margin-top: 10px;
  font-size: 15px;
  padding: 5px;
}
.name {
  font-size: 15px;
  padding: 5px;
}
.phone {
  font-size: 15px;
  padding: 5px;
}
.cardnavbar {
  font-size: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.profileimage a {
  text-decoration: none;
  color: black;
}
